button, select{
    background-color: #e7e7e7;
    border: none;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 3px;
    
}

button{
    float:right;
}
button:hover, select:hover{
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.canvas{
    background-color: #e7e7e7;
    border-radius: 3px;
}

