button, select{
    background-color: #ededff;
    border: none;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 1px;
    margin-bottom: 3px;
    border-bottom: 4px solid #9898D9;
    color:#292169;
    font-weight: bold;
}
table{
    width: 100%;
}
/* 
button{
    float:right;
} 
*/
button:hover, select:hover{
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #e0e0ff
}

.canvas{
    background-color: #e7e7e7;
    border-radius: 1px;
    border-top: 4px solid #F56E00;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1; 
    margin: 100px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-selectie select{
    width: 100%;
    text-align: left;
}